<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/jquery.cookie.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        @*<div class="container-fluid">*@
        <div class="container">
            <div class="navbar-header menuitem">
                @Html.ActionLink("Админка", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            @*<div>
                <ul class="nav navbar-nav">
                    <li><a href="/">Главное меню</a></li>
                    <li><a href="/Home/list/1">Суши</a></li>
                    <li><a href="/Home/list/2">Роллы</a></li>
                    <li><a href="/Home/list/3">Сеты</a></li>
                </ul>
            </div>*@
        </div>
    </div>

    <div class="container body-content">
        <p></p>
        @RenderBody()
    </div>
</body>
</html>